body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100vh;
  background-color: #646464;
  display: grid;
  place-items: center;
}

.interface {
  width: 1100px;
  aspect-ratio: 16/9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background: rgb(157,157,157);
  background: radial-gradient(circle, rgba(157,157,157,1) 0%, rgba(62,62,62,1) 100%);
  border: 3px solid lightgray;
}

.gauges {
  width: 1100px;
  aspect-ratio: 16/9;
  background: #181818 !important;
  display: flex;
  align-items: center;
  border-top-right-radius: 50% !important;
  border-top-left-radius: 50% !important;
}

.blinker {
  color: #228b22;
  font-size: 60px !important;
  position: absolute;
}

.blinker.left {
  right: 0;
}

.blinker.right {
  left: 0;
}

.lights-icon {
  position: absolute;
  right: 0;
  bottom: 0;
}

.seat-belt-icon {
  position: absolute;
  left: 0;
  bottom: 0;
}

.buttons {
  width: 100px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons svg {
  color: white;
}

.dial {
  width: 50px;
  height: 50px;
  border: 10px solid lightgray;
  border-radius: 50%;
  background-color: #2f2f2f;
  box-shadow: 0 5px 1px gray;
  position: relative;
}

.dial::after {
  content: '\2022';
  font-size: 40px;
  position: absolute;
  top: -20px;
  left: 17px;
}

.display {
  background-color: #151515 !important;
  width: 100%;
  height: 95%;
  display: flex;
}

.radio-wrap, .display svg {
  color: white;
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav svg {
  font-size: 50px;
}

.player {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover {
  width: 80%;
  border-radius: 50%;
  margin: auto;
}

.radio-wrap {
  display: flex;
  height: 100%;
}

.Mui-selected {
  background-color: gray !important;
}

.nav-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}